{
  "extends": "treemmett/next",
  "root": true,
  "rules": {
    "max-classes-per-file": 0,
    "react/jsx-key": 2,
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/tests/**", "**/webpack*.ts"] }
    ]
  }
}
